*{
    margin:0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
   }

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(3, 3, 27);
    color: white;
}

.f-letter{
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 3px;
    color: rgb(118, 1, 1);
    
}
.r-letter{
    font-size: 30px;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    background-color: rgb(3, 3, 36);
}
.right{
    display: flex;
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding-bottom: 4px;
    position: relative;
}
nav ul li a:hover{
    color:#777777 ;
}
nav ul li a::after{
    content: '';
    background-color: #ff004f;
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}
.firstSection > div{
        width: 35%;
        /* background-color: yellow; */
}

.leftsection{
    /* background-color: red; */
    font-size: 3rem;
}
.rightsecton{
    width: 80%;
    /* background-color: red; */
}
.rightsecton img{
    width: 80%;
}

.cv a{
    text-decoration: none;
    color: white;
}
.purple{
    color: rgb(167, 110, 220);
}
#element{
    color: rgb(167, 110, 220);

}
.text-grey{
    margin: 20px 0px;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: #353333;

}
.sub-heading{
    margin-bottom:32px ;
    text-align: center;
    font-size: 3rem;
    color: #777777;
}

main hr{
    border: 0px;
    height: 1px;
    background-color: rgb(39, 10, 95);
    margin: 40px 84px  
}


#skill{
    display: flex;
    justify-content:center;

}

.title{
    text-align: center;
    padding: 10px;
}
.sub-title{
    color: #524f4f;
}
.desc{
    text-align: center;
}
.first-skill{
height: 50vh;
width: 60vh;
display: flex;
flex-direction:column;
background-color:transparent;
border: 2px solid #353333;
border-radius: 10px;
margin-right: 15px;
}

.section-one{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.section-two{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.second-skill{
    height: 50vh;
    width: 60vh;
    background-color:transparent;
    border: 2px solid #353333;
    border-radius: 10px;
    margin-left: 15px;

}

.front-end-title{
    top: 100px;
    width: 25%;
}

.front-end-title img{
    height: 65px;
    width: 65px;
}

.portfolio{
    padding: 50px 50px;
}

.work-list{
    display:flex;

}
.project{
    border:4px solid rgb(15, 15, 36);
    margin: 5px;
    border-radius: 10px;
    height: 300px;
    width: 40%;
    position: relative;
    overflow: hidden;
}
.project > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.5s;
}
.project:hover img{
    transform: scale(1.1);
}
.icons{
    height: 20px;
    width: 20px;
}
.layer{
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    padding: 0;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}
.project:hover .layer{
    height: 100%;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    text-decoration: none;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 67px;    
    text-align: center;
    color: black;
    font-weight: 300;
}

/* footer{
    height: 200px;
} */
.footer{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    justify-content: space-evenly;
}
.footer-first{
    font-size: 20px;
    margin-bottom:10px;

}
.footer-second ul li{
    font-size: 20px;
    display: flex;
    list-style: none;
    text-decoration: none;
}
.footer-second ul li a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
.footer-second ul li img{
    height: 50px;
    width: 50px;

}
#contact{
    background-color:  rgb(6, 6, 34);
}
.container{
    display: flex;

}
.contact-left{
    margin: 10px 100px;
    flex-basis: 50%;
    
}
.contact-left img{
 width: 50px;
 height: 50px;
}
.contact-right{
    flex-basis: 50%;

}

.contact-right form{
    width: 100%;

}

form input, form textarea{
    width: 90%;
    border: 0;
    outline: none;
    background: rgb(179, 177, 177);
    padding: 15px;
    margin: 18px 0;
    color: #353333;
    font-size: 18px;
    border-radius: 6px;
}
.btn{
    color: white;
    background-color: #ff004f;
    border: 2px solid  rgb(123, 122, 122);
    border-radius: 10px;
    padding: 10px 20px;
    
}
.cv{
    font-size:1.5rem ;
    text-decoration: none;
}

form .btn{   
    cursor:pointer;
}